@font-face {
  font-family: "Publico";
  src: url("/fonts/Publico-Regular.woff2") format("woff2"), url("/fonts/Publico-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Publico";
  src: url("/fonts/Publico-Bold.woff2") format("woff2"), url("/fonts/Publico-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Publico";
  src: url("/fonts/Publico-Italic.woff2") format("woff2"), url("/fonts/Publico-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Propolish Rufftu";
  src: url("/fonts/PropolishRufftu.woff2") format("woff2"), url("/fonts/PropolishRufftu.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

